<body>
  <div class="container">
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <link rel="stylesheet" href="app/assets/stylesheet/application.css">
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <h1>The list of articles</h1>

        <%= link_to 'Create an article', new_article_path, :class => "btn btn-outline-dark", :id => "text-size"%>
        <p></p>
        <% @articles.each do |article| %>
          <ul>
            <li>
              ID: <%= article.id %>
              <br>
              Title: <%= article.title %> <br> Description: <%= article.description %>
              <div id="text-style" class="btn-size">
                <%= link_to 'Show', article_path(article), :class => "btn btn-outline-info" %>
                <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-outline-dark" %>
                <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-outline-warning" %>
              </div>
              <br>
              Created By: <%= article.user.username if article.user %>
              <br>
              Created: <%= time_ago_in_words(article.created_at) %> ago, Updated: <%= time_ago_in_words(article.updated_at) %> ago


            </li>
          </ul>

        <% end %>
      </body>
    </html>
  </div>
</body>
