<!DOCTYPE html>
<html>
  <head>
    <title img src="https://www.google.com/url?sa=i&source=imgres&cd=&ved=2ahUKEwiPt5So8YXhAhVDjeYKHajVBxwQjRx6BAgBEAU&url=http%3A%2F%2Fwww.alphaclub.org%2F&psig=AOvVaw1nZrjxp0GUorg3pPOlNIZI&ust=1552799033778205" alt="logo" >AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="mengnguon">
    <%= render 'layouts/navigation' %>
    <br>
    <p></p>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
